.content {
    width: 1200px;
}

.list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

h3 {
    font-size: 20px;
}


.title_list {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.title_list > img {
    width: 50px;
    margin-right: 20px;
}
.addres{
    display: flex;
    justify-content: space-around;
}
