.block{
    width: 290px;
    border-radius: 10px;
    border:solid #EEEEEE 1px ;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*.title{*/
/*    margin: 20px 20px 0;*/
/*    text-align: center;*/
/*    font-size: 16px;*/

/*}*/
/*.block p {*/
/*    text-align: center;*/
/*    margin: 10px 20px 0;*/
/*    font-size: 13px;*/
/*}*/
/*.info_delivery{*/
/*    text-align: center;*/
/*}*/
.wrapper{
    padding: 10px;
}
.item{
    border-bottom: 1px gray dashed;
}
.item p{
    margin: 0;
}
.buttons{
    margin: 5px 0;
    display: flex;
    justify-content: center;
}
.button_plus{
    padding: 3px 4px;
    border: 1px black solid;
    border-radius: 10px 0 0 10px;
}
.button_minus{
    padding: 3px 6px;
    border: 1px black solid;
    border-radius: 0 10px 10px 0;
}
.button_del{
    padding: 3px 4px;
    border: 1px black solid;
    border-radius: 10px;
    margin-left: 10px;
}
.price{
    text-align: center;
}

.btn_clear{
    width: 100%;
    background-color: white;
    border: none;
    border-top: solid #EEEEEE 1px ;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
}
